# Ignore MATLAB Drive files.
**/.MATLABDriveTag

# Ignore compiled MATLAB MEX functions.
**/*.mexa64
**/*.mexmaci64
**/*.mexw64

# Ignore MATLAB audio plugin bench files.
**/audioplugin

# Ignore MATLAB autosave files.
**/*.asv

# Ignore all .wav audio files.
**/output
**/irs
**/*.wav

# Ignore external packages/libraries.
**/lib
**/packages

# Ignore .dll files (e.g. VST plugins).
**/*.dll

# Ignore example and test files.
**/*example*
**/*test*
