# Ignore MATLAB Drive files.
**/.MATLABDriveTag

# Ignore compiled MATLAB MEX functions.
**/*.mexa64
**/*.mexmaci64
**/*.mexw64

# Ignore MATLAB autosave files.
**/*.asv

# Ignore input/output .wav audio files.
**/output
**/*.wav

# Ignore example files.
**/*example*
